<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <div id="title">
      <div id="icon"></div>
      <h1>Todo</h1>
      <div id="user">
        <h3>Sign Up</h3>
      </div>
    </div>
    <div id="container">
      <div id="projectCont">
        <div id="openProjectForm">+</div>
        <br />
      </div>
      <div id="todoCont">
        <div id="openTodoForm">+</div>
          <br />
        </div>
      </div>
    </div>
  </body>
</html>
